# data
data/full_dataset/
data/raw_data
data/*.json

# env 
academic_gpt/
cis6200/
.env

# model
model/*
wandb/*
logs/*

# config
config.json
gpt_config.json

# cache
__pycache__/ 

# DS store
.DS_Store